<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% block title %}{% endblock %}</title>
</head>
<body>
{% if user.is_authenticated %}
  {% for group in user.groups.all%}
    {% if group.name == "Customers" %}
    <p>Customer Navbar</p>
    <li><a href = "{% url 'customers:account_details' %}"> Account Details </a> </li>
    <li><a href = "{% url 'customers:change_pickup_day' %}">Change Pickup Day</a></li>
    <li><a href = "{% url 'customers:suspend' %}">Suspend Service</a></li>
    <li><a href = "{% url 'customers:pickup' %}">Pickup</a></li>
    {% elif group.name == "Employees" %}
    <p>Employee Navbar</p>
    <li><a href = "{% url 'employees:index' %}">Daily View</a></li>
    <li><a href = "{% url 'employees:daily_view' %}">Employee Daily View</a></li>
    {% endif %}
  {% endfor %}
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% endif %}
  <main>
    <h1>{% block header %} {% endblock %}</h1>
    {% block content %}
    {% endblock %}
  </main>
</body>
</html>
{# This is the parent template that should be extended by any other view you create #}
{# Todo: Add navbar links, link to stylesheets, style layout #}