{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
    <br><br>
    <h3>The following is a list of the customers in your service area:</h3>

            <div class="row">

              <table class="table" style = "width:80%">
                  <thead>
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Weekly Pickup Day</th>
                      <th scope="col">Address</th>
                      <th scope="col">One Time Pickup</th>
                      <th scope="col">Suspend Start</th>
                      <th scope="col">Suspend End</th>
                      <th scope="col">Balance</th>
                      <th scope="col"></th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for customer in all_customers %}
                    <tr><td>{{customer.name}}</td> <td>{{customer.weekly_pickup_day}}</td> <td>{{customer.address}}</td> <td>{{customer.one_time_pickup}}</td>
                    <td>{{customer.suspend_start}}</td> <td>{{customer.suspend_end}}</td> <td>{{customer.balance}}</td> </tr> <br><br>
                    {% endfor %}
                  </tbody>
                </table>
   

            </div>

















  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}
