{% extends 'base.html' %}

{% block title %} Account Details {% endblock %}

{% block header %} Account Details {% endblock %}

{% block content %}
        <table>
            <tr><td> Name:</td><td>{{customer.name}}</td></tr><br>
            <tr><td> Address:</td><td>{{customer.address}}</td></tr><br>
            <tr><td> Zip Code:</td><td> {{customer.zip_code}}</td></tr><br>
            <tr><td> Weekly Pickup Day:</td><td>{{customer.weekly_pickup_day}}</td></tr><br>
            <tr><td> Suspend Service Start: </td><td>{{customer.suspend_start}}</td></tr><br>
            <tr><td> Suspend Service End: </td><td>{{customer.suspend_end}}</td></tr><br>
            <tr><td> One-time Pickup: </td><td>{{customer.one_time_pickup}}</td></tr><br>
            <tr><td> Account Balance: </td><td>{{customer.balance}}</td></tr><br>
        </table>
{% endblock %}