{% extends 'base.html' %}

{% block title %} Account Details {% endblock %}

{% block header %} Account Details {% endblock %}

{% block content %}




    <div class="row">
        <table class="table" style = "width:80%">
            <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Address</th>
                <th scope="col">Zip Code</th>
                <th scope="col">Weekly Pickup Day</th>
                <th scope="col">Suspend Start</th>
                <th scope="col">Suspend End</th>
                <th scope="col">One Time Pickup</th>
                <th scope="col">Account Balance</th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
                <tr><td>{{customer.name}}</td> 
                <td>{{customer.address}}</td> 
                <td>{{customer.zip_code}}</td>
                <td>{{customer.weekly_pickup_day}}</td> 
                <td>{{customer.suspend_start}}</td> 
                <td>{{customer.suspend_end}}</td> 
                <td>{{customer.one_time_pickup}}</td>
                <td>{{customer.balance}}</td> </tr> <br><br>
            </tbody>
        </table>
    </div>





{% endblock %}