{% extends 'base.html' %}

{% block title %} Account Details {% endblock %}

{% block header %} Account Details {% endblock %}

{% block content %}

    <form action="{% url 'customers:register' %}" method = "POST">
        {% csrf_token %}
        <h2>Please fill out the following fields to create your account: </h2><br>
        Name: <input type = "text" name = "name" id="name"><br>
        Address: <input type = "text" name = "address" id="address"><br>
        Zip Code: <input type = "text" name = "zip_code" id="zip_code"><br>
        Weekly Pickup Day: <input type = "text" name = "weekly_pickup_day" id="weekly_pickup_day"><br>
        <input type = "submit" value="Create Account">
    </form>

{% endblock %}